label{
  padding-left: 6%;
  margin-top: 1%;
}
.jot{
    padding-left: 9%;
    padding-right: 9%;
}
.card {
    border-radius: 15px;
    overflow: hidden;
    padding-left: 0%;
    padding-bottom: 5%;
    padding-top: 2%;
    padding-right: 2%;
  }
  .btn {
    font-weight: bold;
    margin: 1.8%;
    padding: 0.5%;
  }
  input{
    padding: 1%;
    margin-top: 1%;
  }
  select{
    padding: 1%;
  }