<app-header></app-header>

  
  <div class="banner">
    <h2>Gestión de Espacios</h2>
  </div>
  
  <div class="jot">
  <div class="container mt-4">
    <div class="card shadow-lg">
      <div class="card-body">
        <form>
          <div class="mb-3 row">
            <label class="col-md-4 col-form-label">Nombre del espacio:</label>
            <div class="col-md-8">
              <input type="text" class="form-control" placeholder="(ej., Laboratorio de Redes, Aula 101)">
            </div>
          </div>
  
          <div class="mb-3 row">
            <label class="col-md-4 col-form-label">Edificio y número de salón:</label>
            <div class="col-md-8">
              <input type="text" class="form-control">
            </div>
          </div>
  
          <div class="mb-3 row">
            <label class="col-md-4 col-form-label">Carrera o área a la que pertenece:</label>
            <div class="col-md-8">
              <input type="text" class="form-control">
            </div>
          </div>
  
          <div class="mb-3 row">
            <label class="col-md-4 col-form-label">Encargado del espacio:</label>
            <div class="col-md-8">
              <input type="text" class="form-control">
            </div>
          </div>
  
          <div class="mb-3 row">
            <label class="col-md-4 col-form-label">ID del sensor y actuador:</label>
            <div class="col-md-8">
              <input type="text" class="form-control">
            </div>
          </div>
  
          <div class="mb-3 row">
            <label class="col-md-4 col-form-label">Horario de servicio:</label>
            <div class="col-md-8">
              <input type="time" class="form-control">
            </div>
          </div>
  
          <div class="mb-3 row">
            <label class="col-md-4 col-form-label">Estatus:</label>
            <div class="col-md-8">
              <select class="form-select">
                <option>Disponible</option>
                <option>No Disponible</option>
              </select>
            </div>
          </div>
  
          <div class="text-center">
            <button type="submit" class="btn btn-success w-50">CREAR</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>